name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: prepare
      run: |
        python3 -m pip install --upgrade pip
        pip install --upgrade setuptools 
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: test (pytest)
      run: pytest
      shell: bash
    - name: build
      run: python3 setup.py build sdist
      shell: bash
    - name: install
      run: python3 setup.py install --user
      shell: bash
    - name: test (installed)
      run: |
        oelint-adv --help
        tar -tvf dist/oelint_adv-*.tar.gz | grep LICENSE
        tar -tvf dist/oelint_adv-*.tar.gz | grep README.md
      shell: bash
    - if: matrix.python-version == 3.7 && github.repository == 'priv-kweihmann/oelint-adv' && github.event_name == 'push'
      name: Trigger nittymcpick-oelint
      run: |
        echo '{"event_type": "dep-change-oelint", "client_payload": { "repository": "'$GITHUB_REPOSITORY'" }}' > payload.json
        curl -X POST https://api.github.com/repos/priv-kweihmann/nittymcpick-oelint/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.ACCESS_TOKEN }} \
          --data @payload.json
